:root {
  /* Colors */
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue, #2e2f42);
  background: var(--white, #fff);
}

.dark-bg-hero {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  align-content: center;
  background: var(--navyblue, #2e2f42);
}

.dark-bg-footer {
  height: 312px;
  background: var(--navyblue, #2e2f42);
}

.light-bg {
  background: var(--cloud, #f4f4fd);
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

ul,
h3,
p,
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* FlexBox */

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  column-gap: 24px;
}

.header-container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-menu-section {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.team-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-items-container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  margin-top: 72px;
}

.team-items-section {
  display: flex;
  flex-direction: row;
  max-width: 1158px;
  column-gap: 24px;
}

.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 100px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

/* Header */

.top-line {
  height: 72px;
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

/* Logo */

.logo {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.text-color-iris {
  color: var(--iris, #4d5ae5);
}

.text-color-cloud {
  color: var(--cloud, #f4f4fd);
}

/* Links */

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-items a {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
}

.nav-items a:active {
  color: var(--ocean, #404bbf);
}

a.main-link {
  color: var(--ocean, #404bbf);
}

.contacts-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-items li,
.contacts-items a {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.contacts-items a:hover,
.contacts-items a:focus {
  color: var(--ocean, #404bbf);
}

.contacts-items a:active {
  color: var(--iris, #4d5ae5);
}

/* Heading */

.heading-main {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em; /* 107.143% */
  letter-spacing: 1.12px;
  margin-top: 188px;
  margin-bottom: 48px;
}

.heading-sub {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.heading-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  margin-bottom: 8px;
}

/* Buttons */

.primary-btn {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  outline: none;

  /* Button Text */
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
}

.primary-btn:hover,
.primary-btn:focus {
  background: var(--ocean, #404bbf);
}

.filter-btn button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  outline: none;
  background: var(--cloud, #f4f4fd);
  cursor: pointer;

  /* Button Text */
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
}

.filter-btn button:hover,
.filter-btn button:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--ocean, #404bbf);
  outline: none;
}

/* Paragraph */

.sub-paragraph p {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
}

.footer-paragraph {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  padding-top: 16px;
}

/* Images */

.team-image li {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-image-caption {
  padding: 32px 0;
  text-align: center;
}

.project-image-caption figcaption {
  text-align: start;
  padding: 32px 16px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--cornflower, #e7e9fc);
}

.goals li {
  width: 264px;
}
